* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #323437;
}

.swoop {
    margin: 0 auto;
    max-width: 1080px;
}

.floatFixer {
    clear: both;
}

/* -- Header -- */
header {
    background-color: #25282a;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    width: 100%;
}

header>.swoop {
    padding-left: 15px;
    padding-right: 15px;
}

header>.swoop>p {
    color: #ddcc92;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

header>.swoop>#mobile>i {
    float: right;
    font-size: 2em;
    color: #fff;
    padding-top: calc( (16px + 10px) / 2);
    padding-bottom: calc( (16px + 10px) / 2);
    padding-left: 15px;
    padding-right: 15px;
}

.desktop {
    display: none;
}

header>.swoop>.desktop>p {
    float: right;
    padding-top: calc( (16px + 10px) / 2);
    padding-bottom: calc( (16px + 10px) / 2);
    padding-left: 15px;
    padding-right: 15px;
    color: #323437;
    font-weight: bold;
    text-transform: uppercase;
}

header>.swoop>.desktop>p:hover {
    background-color: #ddcc92;
    color: #323437;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    #mobile {
        display: none;
    }

    .desktop {
        display: block;
    }
}

/* -- Welcome -- */
#welcome {
    background-image: url('../../images/welcome.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 550px;
    position: relative;

    
    margin-left: 15px;
    margin-right: 15px;
}

#welcome>h1 {
    position: absolute;
    top: calc((550px - 32px) / 2);
    left: calc(50% - 12.5%);
    border: 5px solid transparent;
    border-bottom: 5px solid #ddcc92;
    max-width: 30%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    color: #ddcc92;
    text-transform: uppercase;
}

/* -- Servers -- */
#servers {
    overflow: auto;
    text-align: center;
}

#servers>article {
    width: 330px;
    background-color: #25282a;
    margin: 15px;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: none;
    opacity: 0;
}

#servers>article>.serverBody {
    height: 250px;
}

#servers>article>.serverBody>img {
    width: 100%;
    height: 250px;
}

#servers>article>.serverFooter>.serverJoin, #servers>article>.serverFooter>.serverSpillere {
    float: left;
    width: 50%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    text-transform: uppercase;
    color: #ddcc92;
    background-color: #323437;
}

#servers>article>.serverFooter>.serverJoin:hover, #servers>article>.serverFooter>.serverSpillere:hover {
    background-color: #ddcc92;
    color: #323437;
    cursor: pointer;
}

#servers>.serverIndexers {
    width: 100%;
    text-align: center;
    color: #fff;
}

#servers>.serverIndexers>i {
    padding-left: 2px;
    padding-right: 2px;
    cursor: pointer;
}

#servers>.serverIndexers>.activeServer {
    color: #ddcc92;
}

/* -- Stats -- */
#stats {
    background-color: #ddcc92;
    padding-top: 30px;
    padding-bottom: 45px;
    margin-left: 15px;
    margin-right: 15px;
}

#stats>#activePlayers {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    text-transform: uppercase;
} 

#stats>#amountOfPlayers, #stats>#activeAdmins {
    display: none;
    text-transform: uppercase;
}

.statAmount {
    font-size: 5em;
    color: #323437;
    font-weight: bold;
    text-align: center;
}

.statTitle {
    color: #323437;
    font-weight: bold;
    text-align: center;
}

@media only screen and (min-width: 720px) {
    #stats>#activePlayers, #stats>#amountOfPlayers {
        width: 50%;
        float: left;
        display: block;
    } 
}

@media only screen and (min-width: 1080px) {
    #stats>#activePlayers, #stats>#amountOfPlayers, #stats>#activeAdmins {
        width: 33.3%;
        float: left;
        display: block;
    } 
}

/* -- Shop -- */
#shop {
    text-align: center;
}

#shop>article {
    margin: 15px;
    display: none;
    opacity: 0;
    width: 330px;
}

#shop>article>.productHead {
    background-color: #ddcc92;
    width: 100%;
}

#shop>article>.productHead>.productTitle {
    text-align: left;
}

#shop>article>.productHead>.productTitle, #shop>article>.productHead>.productButton {
    float: left;
    text-transform: uppercase;
    color: #323437;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 70%;
    border: 1px solid transparent;
}

#shop>article>.productHead>.productButton {
    float: right;
    width: 30%;
    text-align: center;
}

#shop>article>.productHead>.productButton:hover {
    cursor: pointer;
    background-color: #323437;
    color: #ddcc92;
    border: 1px solid #ddcc92;
}

#shop>article>.productBody {
    position: relative;
}

#shop>article>.productBody>p {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: transparent;
    padding: 15px;
    z-index: 1;
}

#shop>article>.productBody>p:hover {
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
}

#shop>article>.productBody>img {
    width: 100%;
}

/* -- Shop Indexer -- */
#shopIndexer {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

#shopIndexer>i {
    color: #fff;
    letter-spacing: 15px;
    font-size: 1.5em;
}

#shopIndexer>i:hover {
    color: #ddcc92;
    cursor: pointer;
}

/* -- Contact -- */
#contact {
    margin-top: 15px;
    background-color: #25282a;

    /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;*/

    margin-left: 15px;
    margin-right: 15px;
}

#contact>form {
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    height: 300px;
}

input[type="text"] {
    background-color: transparent;
    border: 2px solid transparent;
    border-left: 2px solid #ddcc92;
    color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    width: 100%;
}

textarea {
    resize: none;
    background-color: transparent;
    border: 2px solid transparent;
    border-left: 2px solid #ddcc92;
    color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 150px;
    width: 100%;
}

textarea:focus, input[type="text"]:focus {
    outline: none;
}

form>.submitBtn {
    text-align: right;
}

form>.submitBtn>p {
    display: inline;
    background-color: #ddcc92;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-weight: bold;
}

.submitBtn>p:hover {
    cursor: pointer;
    border: 1px solid #ddcc92;
    background-color: #25282a;
    color: #ddcc92;
}

#contact>#contactHead {
    display: none;
}

@media only screen and (min-width: 720px) {

    #contact {
        background-color: #ddcc92;
    }

    #contact>#contactHead {
        display: block;
        width: 50%;
        background-color: #ddcc92;
        color: #323437;
        text-transform: uppercase;
        font-weight: bold;
        float: left;
        text-align: center;
        letter-spacing: 5px;
        font-size: 1.5em;
    }

    #contact>#contactHead>p {
        padding-top: calc((300px - 1.5em) / 2);
        padding-bottom: calc((300px - 1.5em) / 2);
    }

    #contact>form {
        width: 50%;
        float: left;
        background-color: #25282a;
    }
}

/* -- Applications -- */
#applications {
    text-align: center;
}

#applications>article {
    margin: 15px;
    display: none;
    opacity: 0;
    width: 330px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

#applications>article>.applicationHead {
    background-color: #ddcc92;
    width: 100%;
}

#applications>article>.applicationHead>.applicationTitle {
    text-align: left;
}

#applications>article>.applicationHead>.applicationTitle, #applications>article>.applicationHead>.applicationButton {
    float: left;
    text-transform: uppercase;
    color: #323437;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 70%;
    border: 1px solid transparent;
}

#applications>article>.applicationHead>.applicationButton {
    float: right;
    width: 30%;
    text-align: center;
}

#applications>article>.applicationHead>.applicationButton:hover {
    cursor: pointer;
    background-color: #323437;
    color: #ddcc92;
    border: 1px solid #ddcc92;
}

#applications>article>.applicationBody {
    position: relative;
    background-color: #25282a;
    padding: 15px;
}

/* -- Applications Indexer -- */
#applicationIndexer {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

#applicationIndexer>i {
    color: #fff;
    letter-spacing: 15px;
    font-size: 1.5em;
}

#applicationIndexer>i:hover {
    color: #ddcc92;
    cursor: pointer;
}

/* -- Footer -- */
footer {
    margin-top: 15px;
    background-color: #ddcc92;
    width: 100%;
}

footer>.swoop {
    max-width: 1080px;
    margin: 0 auto;
}

footer>.swoop>p {
    opacity: 0.2;
}

/* -- scrollbar -- */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #323437;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(222, 205, 147, 1);
}

#playerList {
    position: fixed;
    top: 75px;
    left: calc(50% - 15%);
    width: 30%;
    z-index: 5;
    background-color: #25282a;
    border-top: 5px solid #ddcc92;
    padding: 15px;
    display: none;
}

#playerList>p {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #fff;
}

#playerList>#playerName>p {
    color: rgba(255, 255, 255, 0.2);
    width: 70%;
    float: left;
}

#playerList>#playerName>i {
    color: rgba(255, 255, 255, 0.2);
    width: 30%;
    float: right;
    text-align: right;
}

#playerList>#playerName>i:hover {
    color: #ddcc92;
    cursor: pointer;
}

#playerList>p>span {
    color: rgba(221, 204, 146, 0.3);
    font-size: .5em;
}


/* -- Animations -- */
.fadeIn, .fadeOut {
    -moz-animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -ms-animation-duration: 1s;
    animation-duration: 1s;
    -moz-animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    -ms-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;  
}

.fadeOut {
    -moz-animation-name: fadeOut;
    -webkit-animation-name: fadeOut;
    -ms-animation-name: fadeOut;
    animation-name: fadeOut;
}

.fadeIn {
    -moz-animation-name: fadeIn;
    -webkit-animation-name: fadeIn;
    -ms-animation-name: fadeIn;
    animation-name: fadeIn;
}

@-moz-keyframes fadeIn { 0% { opacity: 0; visibility: hidden; } 100% { opacity: 1; visibility: visible; }}
@-webkit-keyframes fadeIn { 0% { opacity: 0; visibility: hidden; } 100% { opacity: 1; visibility: visible; }}
@-ms-keyframes fadeIn { 0% { opacity: 0; visibility: hidden; } 100% { opacity: 1; visibility: visible; }}
@keyframes fadeIn { 0% { opacity: 0; visibility: hidden; } 100% { opacity: 1; visibility: visible; }}

@-moz-keyframes fadeOut { 0% { opacity: 1; visibility: visible; }  100% { opacity: 0; visibility: hidden; }} 
@-webkit-keyframes fadeOut { 0% { opacity: 1; visibility: visible; }  100% { opacity: 0; visibility: hidden; }} 
@-ms-keyframes fadeOut { 0% { opacity: 1; visibility: visible; } 100% { opacity: 0; visibility: hidden; }} 
@keyframes fadeOut { 0% { opacity: 1; visibility: visible; } 100% { opacity: 0; visibility: hidden;  }} 